* {
    padding: 0px;
    margin: 0px;
    font-family: 'Outfit', sans-serif;
    text-align: center;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    background-color: hsl(212, 45%, 89%);
}

.card {
    background-color: white;
    max-width: 320;
    border-radius: 15px;
}

#qr-code {
    max-width: 300px;
    border-radius: 15px;
    margin: 15px 15px 10px 15px;
}

#title {
    max-width: 300px;
    margin: 10px 15px 10px 15px;
    font-size: 1.5rem;
    font-weight: 700;
}

#subtitle {
    max-width: 280px;
    padding: 20px 20px 40px 20px;
}